/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
.theme-menu__button:disabled::before {
  animation: pointer-moves-left 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled,
.theme-menu__button:hover,
.theme-menu__button:focus,
.theme-menu__button:focus-visible {
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  animation: paints-underline-line 0.3s ease forwards;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.card__like-button:focus,
.card__save-button:focus {
  transition: box-shadow 0.3s ease;
}

.card__like-button::before,
.card__save-button::before {
  transform-origin: 0 0;
  transform: scaleX(0);
}

.card__like-button:hover::before,
.card__save-button:hover::before {
  animation: hide-button-in-element 0.5s ease-in-out forwards;
}

/* heart animations relaxed */
.sparks {
  opacity: 0;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .contour {
  fill: var(--contour);
  transition: fill 0.3s linear;
}

/* heart animations hover */
.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

/* heart animations active  */
.like-icon:active .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s linear;
}

/* heart animations klick */
.like-icon.is-liked .contour,
.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--heart-color);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: make-heart-bigger 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: show-sparks 0.3s 0.3s ease-in 1 alternate;
}

/* filter animations */
.life-style {
  animation: rotate-color-filter 3s linear infinite;
}

/* keyframes  */
@keyframes pointer-moves-left {
  from {
    margin-inline-start: -19px;
  }
  to {
    margin-inline-start: -23px;
  }
}

@keyframes paints-underline-line {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes hide-button-in-element {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes make-heart-bigger {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes show-sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate-color-filter {
  to {
    filter: hue-rotate(360deg);
  }
}

/* media  */
@media (prefers-reduced-motion: reduce) {
  .card__icon-button svg.is-liked .heart,
  .card__icon-button svg.is-liked .sparks {
    animation: none;
  }
}