/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --main-text-weight: 400;
  --title-weight: 700;
  --background-color: #fff;
  --accent-color: #000;
  --background-image: repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px 4px), repeating-linear-gradient(180deg, #d3d3d3, #d3d3d3 2px, transparent 2px 4px), linear-gradient(#e7e7e7, #1a1a1a);
  --watermark-shadow: #fff;
  --color-invers: #fff;
  --contour: #000;
}

:root.theme-dark {
  --main-text-weight: 465;
  --title-weight: 785;
  --background-color: #000;
  --accent-color: #00CC14;
  --background-image: repeating-linear-gradient(90deg, #000, #000 2px, transparent 2px 4px), repeating-linear-gradient(180deg, #000, #000 2px, transparent 2px 4px), linear-gradient(#007f0c, #004306);;
  --watermark-shadow: #000;
  --color-invers: #00CC14;
  --contour: #00CC14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text-weight: 465;
    --title-weight: 785;
    --background-color: #000;
    --accent-color: #00CC14;
    --background-image: repeating-linear-gradient(90deg, #000, #000 2px, transparent 2px 4px), repeating-linear-gradient(180deg, #000, #000 2px, transparent 2px 4px), linear-gradient(#007f0c, #004306);;
    --watermark-shadow: #000;
    --color-invers: #00CC14;
    --contour: #00CC14;
  }
}